*{
    /* background-color: black; */
    color: white;
    padding: 0px;
    background-image: url(./images.jpg);

}


#brand{
    font-size: 60px;
    padding-left: 90px;
    
}

.heading{
    display: inline;
}

.Brand_name{
    color: yellow;
}

.option{
    display: inline-block;
    /* border: 2px solid white; */
    margin-left: 2800px;
    color: yellow;
}

.opt{
    padding: 30px;
    color: yellow;
}
